section.procedures
	div.wrap-1
		div.container
			div.row
				div.col-12.col-md-8.offset-md-2
					include ../title/title.pug
					+title({title: "Процедуры", desc: "Мы всегда стараемся радовать наших клиентов приятными скидками на услуги комплекса."})

	div.container-fluid
		div.row.no-gutters
			div.col-12.col-md-6
				include ../procedures-info/procedures-info.pug

			div.col-12.col-md-6.procedures__img-1

		div.row.no-gutters
			div.col-12.col-md-6.order-md-2
				include ../procedures-info/procedures-info.pug

			div.col-12.col-md-6.order-md-1.procedures__img-2

		div.row.no-gutters
			div.col-12.col-md-6
				include ../procedures-info/procedures-info.pug

			div.col-12.col-md-6.procedures__img-3

		div.row.no-gutters
			div.col-12.col-md-6.order-md-2
				include ../procedures-info/procedures-info.pug

			div.col-12.col-md-6.order-md-1.procedures__img-4