.procedures .container-fluid {
	/* 2 Block model */
	padding: 0;
}
.procedures__img-1 {
	/* 2 Block model */
	height: 200px;

	/* 4 Decor */
	background-image: url(../images/procedures.jpg);
	background-size: cover;
	background-position: center;

	@media(min-width: 768px) {
		height: auto;
	}
}
.procedures__img-2 {
	/* 2 Block model */
	height: 200px;
	
	/* 4 Decor */
	background-image: url(../images/procedures.jpg);
	background-size: cover;
	background-position: center;

	@media(min-width: 768px) {
		height: auto;
	}
}
.procedures__img-3 {
	/* 2 Block model */
	height: 200px;
	
	/* 4 Decor */
	background-image: url(../images/procedures.jpg);
	background-size: cover;
	background-position: center;

	@media(min-width: 768px) {
		height: auto;
	}
}
.procedures__img-4 {
	/* 2 Block model */
	height: 200px;
	
	/* 4 Decor */
	background-image: url(../images/procedures.jpg);
	background-size: cover;
	background-position: center;

	@media(min-width: 768px) {
		height: auto;
	}
}