footer.footer
	div.wrap-1
		div.container
			div.row
				div.col-12
					include ../logo/logo.pug

				div.col-12
					span.footer__text © 2018. Оздоровительный комплекс SPA

				div.col-12

					ul.footer__list
						include ../icon/icon.pug
						li.footer__item
							a.footer__link(href="#")
								+icon('icon--tw')

						li.footer__item
							a.footer__link(href="#")
								+icon('icon--fb')

						li.footer__item
							a.footer__link(href="#")
								+icon('icon--in')

				div.col-12
					//include ../menu/menu.pug