.card {
	/* 1 Positioning */
	position: relative;

	/* 2 Block model */
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 15px;

	/* 3 Typography */
	text-align: center;

	/* 4 Visual */
	background-color: $color-white;

	@media (min-width: 992px) {
		/* 2 Block model */
		margin-bottom: 0;
	}
}
.card__discount {
	/* 1 Positioning */
	position: absolute;
	top: 0;
	right: 0;

	/* 2 Block model */
	display: block;
	padding: 8px 10px 8px 10px;

	/* 3 Typography */
	font-size: 21px;
	font-weight: 700;
	line-height: 44px;
	color: $color-brand;

	/* 4 Decor */
	background-color: $color-white;

	@media (min-width: 768px) {
		/* 2 Block model */
		padding: 4px 6px;

		/* 3 Typography */
		font-size: 16px;
		line-height: 22px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		padding: 8px 10px 8px 10px;

		/* 3 Typography */
		font-size: 21px;
		line-height: 44px;
	}
}
.card__img {
	/* 2 Block model */
	display: flex;
}
.card__img img {
	/* 2 Block model */
	display: block;
	width: 100%;
}
.card__body {
	/* 2 Block model */
	padding: 22px 35px;

	/* 3 Typography */
	text-align: center;

	/* 4 Decor */
	background-color: $color-white;

	@media (min-width: 768px) {
		/* 2 Block model */
		padding: 22px 0 0 0;
	}

	@media (min-width: 992px) {
		/* 2 Block model */
		padding: 22px 35px;
	}
	@media (min-width: 1200px) {
		/* 2 Block model */
		padding: 22px 70px;
	}
}
.card__price {
	/* 2 Block model */
	margin: 0;

	/* 3 Typography */
	font-size: 28px;
	font-weight: 700;
	line-height: 44px;
	color: $color-brand;
}
.card__title {
	/* 3 Typography */
	text-decoration: none;
}
.card__title:hover {
	/* 3 Typography */
	text-decoration: underline;
}
.card__title h3 {
	/* 2 Block model */
	margin: 22px 0;

	/* 3 Typography */
	font-size: 14px;
	font-weight: 700;
	line-height: 22px;
	color: $color-text-3;
	text-transform: uppercase;
}
.card__desc {
	/* 2 Block model */
	margin: 0;

	/* 3 Typography */
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	color: $color-text-1;

	@media (min-width: 768px) {
		/* 2 Block model */
		padding-bottom: 22px;
	}
}
