div.home-top
	div.home-top__body
		p.home-top__top Горячее лето

		h1.home-top__title Лучший SPA комплекс

		p.home-top__discount скидки 25%
		
		include ../btn/btn.pug
		+btn({text: 'Записаться'})(class="btn--brand")