div.procedures-info
	h3.procedures-info__title Уход за телом

	p.procedures-info__info Spa-программы по уходу за телом это целый ритуал красоты, здоровья и удовольствия! Мы предлагаем Вашему вниманию несколько разработанных комплексов оздоровительных и расслабляющих услуг.

	include ../btn/btn.pug
	+btn({text: 'Подробнее'})